{% extends "layouts/base.html" %}
{% block title %}<title>MasterBikes Catálogo</title>{% endblock title %}

{% load static %}
{% block scripts %}
<script src="{% static "js/filterHeight.js" %}"></script>
<script src="{% static "js/marginQuery.js" %}"></script>
<script src="{% static "js/widthQuery.js" %}"></script>
{% endblock scripts %}

{% load custom_filters %}
{% block content %}
<main class="d-flex">
    {% comment %} <section class="filter bg-dark text-body p-2">
        <h4>Filtrar por:</h4>
        <button class="btn filter"><h4>Marca</h4></button>
    </section> {% endcomment %}

    <div class="d-flex flex-column justify-content-center w-100 mb-2">
        <div class="mt-4 mb-3 align-items-center text-start">
            {% if category != None %}
            <h4 class="fw-bold text-body s-query">{{products|length}}{% if products|length != 1 %} Resultados{% else %} Resultado{% endif %} de {{category}}.</h4>
            {% else %}
            <h4 class="fw-bold text-body s-query">{{products|length}}{% if products|length != 1 %} Resultados{% else %} Resultado{% endif %} para "{{searchQ}}".</h4>
            {% endif %} 
        </div>
        <section class="container bg-dark mb-4">
            <div class="d-flex flex-wrap mt-3">
                {% for product in products %}
                <div class="card-item mb-3">
                    <div class="card bg-body-tertiary">
                        <div class="img-wrapper"><a href="{% url "product" product.id %}"><img src="{{product.imagen.url}}" class="d-block w-100" alt="product-image"></a></div>
                        <div class="card-body text-body">
                            <p class="card-title">{{product.marca.nombre}}</p>
                            <h5 class="card-text">{{product.nombre}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{product.precio|currency_format}}</h5>
                                <form action="{% url 'cartAdd' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="quantity" value="1" class="btn btn-green fw-semibold text-dark">Añadir Al Carro</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
                {% endfor %}          
            </div>
        </section>
    </div>
</main>
{% endblock content %}