{% extends "layouts/base.html" %}

{% load static %}
{% block scripts %}
<script src="{% static "js/cardSlider.js" %}"></script>
{% endblock scripts %}

{% block banner %}
<div class="container-fluid banner mb-auto">
    <img class="img-fluid" src="{% static "img/Banner1.png" %}" alt="banner-img">
</div>
{% endblock banner %}

{% load custom_filters %}
{% block content %}
<main class="container py-3">
    {# SECCIÓN DE BICICLETAS #}
    <section class="mt-5">
        <div class="d-flex justify-content-between align-items-end border-bottom border-2 border-white border-opacity-25">
            <h1 class="mb-1 ms-4 text-body mb-0">
                <i class="fas fa-bicycle fa-lg me-2"></i>
                Bicicletas
            </h1>
            <a class="me-4 text-decoration-none show-more" href="{% url "finderCategory" "Bicicletas" %}">Ver más</a>
        </div>
        <div id="carouselBikes" class="carousel">
            <div class="carousel-inner">
                {# AÑADIR FOR BICICLETAS #}
                {% for product in products %}
                {% if  product.bicicleta%}
                <div class="carousel-item">
                    <div class="card bg-body-tertiary">
                        <div class="img-wrapper"><a href="{% url "product" product.id %}"><img src="{{product.imagen.url}}" class="w-100" alt="product-image"></a></div>
                        <div class="card-body text-body">
                            <p class="card-title">{{product.marca.nombre}}</p>
                            <h5 class="card-text">{{product.nombre}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{product.precio|currency_format}}</h5>
                                <form action="{% url 'cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="quantity" value="1" class="btn btn-green fw-semibold text-dark"><i class="fas fa-cart-plus fa-lg"></i>
                                        Añadir Al Carro</button>
                                    </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBikes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBikes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    
    {# SECCIÓN DE ACCESORIOS #}
    <section class="mt-5">
        <div class="d-flex justify-content-between align-items-end border-bottom border-2 border-white border-opacity-25">
            <h1 class="mb-1 ms-4 text-body fw-bold mb-0">
                <i class="fas fa-gear fa-lg me-2"></i>
                Accesorios
            </h1>
            <a class="me-4 text-decoration-none show-more" href="{% url "finderCategory" "Accesorios" %}">Ver más</a>
        </div>
        <div id="carouselAccesories" class="carousel">
            <div class="carousel-inner">
                {# AÑADIR FOR ACCESORIOS #}
                {% for product in products %}
                {% if  product.accesorio%}
                <div class="carousel-item">
                    <div class="card bg-body-tertiary">
                        <div class="img-wrapper"><a href="{% url "product" product.id %}"><img src="{{product.imagen.url}}" class="w-100" alt="product-image"></a></div>
                        <div class="card-body text-body">
                            <p class="card-title">{{product.marca.nombre}}</p>
                            <h5 class="card-text">{{product.nombre}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{product.precio|currency_format}}</h5>
                                <a href="" class="btn btn-green fw-semibold text-dark">
                                    <i class="fas fa-cart-plus fa-lg"></i>
                                    Añadir al carro
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccesories" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAccesories" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    {# SECCIÓN DE SERVICIOS #}
    <section class="mt-5">
        <div class="d-flex justify-content-between align-items-end border-bottom border-2 border-white border-opacity-25">
            <h1 class="mb-1 ms-4 text-body fw-bold mb-0">
                <i class="fas fa-screwdriver-wrench fa-lg me-2"></i>
                Servicios
            </h1>
            <a class="me-4 text-decoration-none show-more" href="{% url "finderCategory" "Servicios" %}">Ver más</a>
        </div>
        <div id="carouselServices" class="carousel">
            <div class="carousel-inner">
                {# AÑADIR FOR SERVICIOS #}
                {% for product in products %}
                {% if  product.servicio%}
                <div class="carousel-item">
                    <div class="card bg-body-tertiary">
                        <div class="img-wrapper"><a href="{% url "product" product.id %}"><img src="{{product.imagen.url}}" class="w-100" alt="product-image"></a></div>
                        <div class="card-body text-body">
                            <p class="card-title">{{product.marca.nombre}}</p>
                            <h5 class="card-text">{{product.nombre}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{product.precio|currency_format}}</h5>
                                <a href="" class="btn btn-green fw-semibold text-dark">
                                    <i class="fas fa-cart-plus fa-lg"></i>
                                    Añadir al carro
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServices" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselServices" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>
{% endblock content %}