{% extends "layouts/base.html" %}

{% load static %}
{% block scripts %}
<script src="{% static "js/cardSlider.js" %}"></script>
{% endblock scripts %}

{% block banner %}
<div class="container-fluid banner mb-auto">
    <img class="img-fluid" src="{% static "img/Banner1.png" %}" alt="banner-img">
</div>
{% endblock banner %}

{% block content %}
<main class="container">
    {# SECCIÓN DE BICICLETAS #}
    <section>
        <h1 class="text-black text-center fw-bold">Bicicletas</h1>
        <div id="carouselBikes" class="carousel">
            <div class="carousel-inner">
                {# AÑADIR FOR BICICLETAS #}
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 5</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 6</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 7</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 8</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 9</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBikes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBikes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    {# SECCIÓN DE ACCESORIOS #}
    <section>
        <h1 class="text-black text-center fw-bold">Accesorios</h1>
        <div id="carouselAccesories" class="carousel">
            <div class="carousel-inner">
                {# AÑADIR FOR BICICLETAS #}
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 5</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 6</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 7</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 8</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 9</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccesories" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAccesories" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>
{% endblock content %}