{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static "style/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" />

    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    {% block scripts %}
    {% endblock scripts %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}">MasterBikes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "home" %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "finder" %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "finderCategory" "Bicicletas" %}">Bicicletas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "finderCategory" "Accesorios" %}">Accesorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "finderCategory" "Servicios" %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pedidos" %}">pedidos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
                    <form class="d-flex" role="search" method="GET" action="{% url "finder" %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" name="search" placeholder="Buscar...">
                    </form>
                    <li class="nav-item">
                        <a class="nav-link cart" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas">
                            <i class="fas fa-cart-shopping fa-lg me-1"></i>
                            Carro
                            <span class="cart-item-count ms-1">{{ cart_item_count}}</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown">
                            {% if user.is_superuser %}
                            Vendedor: {{user.email}}
                            {% else %}
                            {{user.email}}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu">
                            <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <a class="dropdown-item" href="#"
                                onclick="document.getElementById('logoutForm').submit();">Cerrar Sesión</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Carro</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% if items %}
            <ul class="list-unstyled" id="cart-items-list">
                {% for item in items %}
                <li id="cart-item-{{ item.id }}" class="mb-3">
                    <div class="card bg-body-tertiary">
                        <div class="img-wrapper">
                            <a href="{% url 'product' item.producto.id %}">
                                <img src="{{ item.producto.imagen.url }}" class="w-100" alt="product-image">
                            </a>
                        </div>
                        <div class="card-body text-body">
                            <p class="card-title">{{ item.producto.marca.nombre }}</p>
                            <h5 class="card-text">{{ item.producto.nombre }}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{ item.producto.precio|currency_format }}</h5>
                                <div class="d-flex align-items-center">
                                    <h5 class="m-0 me-2">Cantidad: {{ item.quantity }}</h5>
                                    <form action="{% url 'cartUpdate' item.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="btn-group" role="group">
                                            <button type="submit" name="action" class="btn btn-green text-dark" style="min-width: fit-content;" value="decrementar">-</button>
                                            <button type="submit" name="action" class="btn btn-green text-dark" style="min-width: fit-content;" value="incrementar">+</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>                
                {% endfor %}
            </ul>
            <div class="w-100">
                <a href="{% url 'cartDetail' %}" class="btn btn-green text-dark w-100">Ir a pagar</a>
            </div>
            {% else %}
            <div>
                <h5 class="fw-normal">No hay productos en el carro.</h5>
            </div>
            {% endif %}
        </div>
    </div>

    {% block banner %}
    {% endblock banner %}

    {% block content %}
    {% endblock content %}
</body>

</html>