{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Carrito de Compras</h2>
    <ul>
        {% for item in items %}
            <li>{{ item.producto.nombre }} - {{ item.quantity }} - {{ item.producto.precio }} 
                <a href="{% url 'cart_remove' item.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Seguir Comprando</a>
</body>
</html>