{% extends "layouts/base.html" %}
{% block title %}<title>MasterBikes Inicio</title>{% endblock title %}

{% load static %}
{% block scripts %}
<script src="{% static "js/cardSlider.js" %}"></script>
{% endblock scripts %}



{% load custom_filters %}
{% block content %}
<main>

    <ul class="list-unstyled" id="cart-items-list">
        {% for item in items %}
            <li id="cart-item-{{ item.id }}" class="mb-3">
                <div class="card bg-body-tertiary">
                    <div class="img-wrapper">
                        <a href="{% url 'product' item.producto.id %}">
                            <img src="{{item.producto.imagen.url}}" class="w-100" alt="product-image">
                        </a>
                    </div>
                    <div class="card-body text-body">
                        <p class="card-title">{{item.producto.marca.nombre}}</p>
                        <h5 class="card-text">{{item.producto.nombre}}</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="m-0">{{item.producto.precio}}</h5>
                            <h5 class="m-0">Cantidad: {{item.quantity}}</h5>
                            <form class="cantidad-form" action="{% url 'cartUpdate' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="action" value="decrementar">-</button>
                                <span>{{ item.quantity }}</span>
                                <button type="submit" name="action" value="incrementar">+</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
<div class="buttons-container">
    <button id="openModal" class="btn-pagar">Ingresar Datos de Pago</button>
    <a href="{% url 'finder' %}" class="btn-seguir-comprando">Seguir Comprando</a>
</div>

<!-- Modal -->
<div id="paymentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="{% url 'cartDetail' %}" method="post" class="form-pago">
            {% csrf_token %}
            <div class="form-group">
                <label for="card_number">Número de Tarjeta:</label>
                <input type="text" id="card_number" name="card_number" pattern="\d{16}" title="Debe tener 16 dígitos" maxlength="16" required>
            </div>
            
            <div class="form-group">
                <label for="expiry_date">Fecha de Expiración:</label>
                <input type="text" id="expiry_date" name="expiry_date" placeholder="MM/YY" pattern="(0[1-9]|1[0-2])\/\d{2}" title="Debe tener el formato MM/YY" maxlength="5" required>
            </div>
            
            <div class="form-group">
                <label for="cvv">CVV:</label>
                <input type="password" id="cvv" name="cvv" pattern="\d{3}" title="Debe tener 3 dígitos" maxlength="3" required>
            </div>
            
            <button type="submit" class="btn-pagar">Pagar</button>
        </form>
    </div>
</div>

<!-- Incluir el archivo JavaScript -->
<script src="{% static 'js/detail.js' %}"></script>

</main>
{% endblock content %}