@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/dist/bootswatch";
@import "../../../node_modules/bootstrap/dist/variables";

body.b-login {
    padding: 0;
    overflow: hidden;
}

a.btn-back {
    border: none;
    color: $white;
    transition: all 0.2s ease-out;
}

.btn-back:hover {
    outline: 1px solid $green2;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #999999;
}

.btn-back:active {
    outline: 0px !important;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px;
    color: #cccccc !important;
}

.form-control {
    background-color: transparent !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #fff !important;
}

.form-control:focus, .form-control:active {
    border-color: #a4c03a !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-group.name .form-control {
    width: 98%;
    margin-right: 4%;
}

.form-group.lname .form-control {
    width: 98%;
    margin-left: 4%;
}

.form-group.lname label {
    margin-left: 5%;
}

a.link-reg {
    color: #788d2a;
}