@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/dist/bootswatch";
@import "../../../node_modules/bootstrap/dist/variables";

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    height: 340px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .card-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

@media (max-width: 767px) {
    .card-item {
        flex: 0 0 100%;
        display: block;
    }

    .card {
        margin: 0 0 1em 0;
    }
}

.card .img-wrapper {
    height: 13em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
}

@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

button,
a.btn-green {
    background-color: $green2;
    border: none;
}

button,
a.btn-green:hover {
    background-color: #788d2a;
}

button,
a.btn-green:active {
    background-color: #4c5a1a !important;
}