@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/dist/bootswatch";
@import "../../../node_modules/bootstrap/dist/variables";

img.p-image {
    width: 300px;
    height: 480px;
    margin: 8px;
    padding: 12px 0px 12px 0px;
}

button.btn-green {
    background-color: $green2;
    border: none;
}

button.btn-green:hover {
    background-color: #788d2a;
}

button.btn-green:active {
    background-color: #4c5a1a !important;
}

.number-input {
    position: relative;
    display: inline-flex;
    width: 120px;
}
.number-input input[type=number] {
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Safari and Chrome */
}  

.number-input button {
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.number-input button.decrement {
    left: 0;
    border-radius: 4px 0 0 4px;
}
.number-input button.increment {
    right: 0;
    border-radius: 0 4px 4px 0;
}
.number-input button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}